* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: TTLakes;
  list-style-type: none;
}
html,
body {
  height: 100%;
}

@font-face {
  font-family: TTLakes;
  src: url(./font/TTLakes-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: TTLakes;
  src: url(./font/TTLakesCompressed-Medium.ttf);
  font-weight: medium;
}

.header {
  box-shadow: 16px 0px 52px 0px #0e185033;
  width: 320px;
}

.menu_header {
  padding: 19px 24px 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_button {
  background-color: transparent;
  border-color: transparent;
}

.menu_icon {
  align-content: center;
  position: absolute;
  left: 81px;
}

.navig {
  padding: 50px 0px 268px 24px;
}

.navig_link {
  display: flex;
  background-color: transparent;
  border-color: transparent;
  flex-direction: column;
  margin-bottom: 32px;
  justify-content: start;
  position: relative;
  color: #1b1c21;
  font-size: 16px;
}

.navig_link:focus::before {
  content: "";
  height: 40px;
  width: 4px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #41f6d7;
  top: -10px;
  left: -24px;
  position: absolute;
}

.navig_link:focus {
  color: #7e7e82;
}
.bottom_menu {
  padding-left: 24px;
}

.menu_main {
  display: flex;
  justify-content: space-between;
  padding: 0px 144px 0px 0px;
}

.main_button {
  background-color: transparent;
  border-color: transparent;
  padding-bottom: 16px;
}

.connection {
  display: flex;
  background-color: transparent;
  border-color: transparent;
  flex-direction: column;
  font-size: 16px;
  color: #1b1c21;
}
.phone {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.a_language {
  border-color: transparent;
  background-color: transparent;
  color: #1b1c21;
}

.a_language:focus {
  color: #7e7e82;
}
